<?xml version="1.0" ?>
<nlog autoReload="true" internalLogLevel="Debug" internalLogToConsole="true">

  <targets>
    <!--Useful for debugging-->
    <target name="consolelog" type="ColoredConsole"
    layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="consolelog" />
  </rules>
</nlog>