
@{
    ViewBag.Title = "Results";
}

<h2>Your Contacts</h2>
<h3>(duplicates removed, alphabetically sorted)</h3>

@model List<string>

<table>

    @foreach (string result in Model)
    {
        <tr>
            <td>@result</td>
        </tr>
    }
</table>