@model ContactsUploader.Models.ContactListUpload

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Upload", "ContactsUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>Upload Contacts</h2>
    <h3>Select a *.csv file</h3>
    <table>
        <tr>
            <td><input type="file" name="File" id="file"</td>
        </tr>
        <tr>
            <td><input style="width:92px" type="submit" name="submit" value="Upload" /></td>
        </tr>
    </table>
}
